@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

{
    margin:0%;
    padding:0%;
}
body
{
  background-image:("https://images.hdqwalls.com/download/metal-blue-abstract-4k-tm-1024x768.jpg");
  background-size: 100% 740px;
  font-family: 'Roboto', sans-serif;
}
.contain{
    width: 300px;
    height: 400px;
    background-color: black;
    margin-left: 36%;
    margin-right: 7%;
    text-align: center;
    color: white;

}
.contain .text{
    font-size: 36px;
    color: aqua;
}
.contain .text{
    position: relative;
    top: 7%;
}
.inp1{
    border: none;
    background-color: #5d62aa;
    border-bottom: 2px solid white;
    width: 250px
    front-size: auto 22px;
    margin-top: 40px;
    outline: none;
    color: white;
}

.inp2{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px
    front-size: auto 22px;
    margin-top: 40px;
    outline: none;
    color: white;
}

.inp3{
    border: none;
    background-color: black;
    border-bottom: 2px solid white;
    width: 250px
    front-size: auto 22px;
    margin-top: 40px;
    outline: none;
    color: white;
}
.text button{
    width: 250px;
    height: 44px;
    background-color:aqua;
    color:black;
    border:none;
    font-size: 24px;
    border-radius: 25px;
    margin-top: 20px;
    cursor:pointer;
}
button:hover{
    border: 3px solid aqua;
    color: white;
    font-size: 20px;
    background:black;
}
p{
    margin-top: 30px;
    font-size: 20px;
}
p span{
    color:aqua;
    cursor: pointer;
}
